// Basic process configuration
process {
    publishDir = "results"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Execution reports
timeline {
    enabled = true
    file = "pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file = "pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file = "pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file = "pipeline_info/pipeline_dag.svg"
}